openapi: 3.2.0
info:
  title: Turvo Public Orders API
  description: The Turvo Public API is a JSON REST interface to the Turvo collaborative transportation management system (TMS).
  version: '1.0'
  contact:
    name: Turvo
    url: https://turvo.com
servers:
- url: https://publicapi.turvo.com/v1
  description: Turvo Public API (production)
- url: https://my-sandbox.turvo.com/v1
  description: Sandbox tenant (per-tenant host; replace with your sandbox subdomain)
security:
- bearerAuth: []
  apiKeyAuth: []
tags:
- name: Orders
  description: Customer demand records planned into shipments.
paths:
  /orders/list:
    get:
      operationId: listOrders
      tags:
      - Orders
      summary: List orders
      description: Lists orders in the tenant, with pagination and filtering.
      parameters:
      - $ref: '#/components/parameters/Start'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orders:
    post:
      operationId: createOrder
      tags:
      - Orders
      summary: Create an order
      description: Creates a new order with line items and ship-from / ship-to detail.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: The created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /orders/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getOrder
      tags:
      - Orders
      summary: Retrieve an order
      description: Retrieves a single order by its Turvo ID.
      responses:
        '200':
          description: The requested order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateOrder
      tags:
      - Orders
      summary: Update an order
      description: Updates an existing order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: The updated order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    OrderList:
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'
    LocationRef:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ShipmentItem:
      type: object
      properties:
        name:
          type: string
        quantity:
          type: number
        weight:
          type: number
        weightUnits:
          type: string
    Order:
      type: object
      properties:
        id:
          type: string
        customId:
          type: string
        status:
          type: object
          properties:
            code:
              type: string
            description:
              type: string
        customer:
          $ref: '#/components/schemas/AccountRef'
        shipFrom:
          $ref: '#/components/schemas/LocationRef'
        shipTo:
          $ref: '#/components/schemas/LocationRef'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentItem'
    AccountRef:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Error:
      type: object
      properties:
        Status:
          type: string
          example: error
        code:
          type: integer
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    Pagination:
      type: object
      properties:
        start:
          type: integer
        pageSize:
          type: integer
        totalRecordsInPage:
          type: integer
        moreAvailable:
          type: boolean
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer token or API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Start:
      name: start
      in: query
      required: false
      description: Zero-based offset of the first record to return.
      schema:
        type: integer
        default: 0
    Id:
      name: id
      in: path
      required: true
      description: The Turvo resource ID.
      schema:
        type: string
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Maximum number of records to return per page.
      schema:
        type: integer
        default: 50
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 Bearer access token obtained from POST /oauth/token. Passed as Authorization: Bearer YOUR_ACCESS_TOKEN.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Per-tenant API key from the Turvo tenant API profile, sent on every request.
